@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  background-color: var(--gray-12);
  &__container {
    max-width: 1280px;
    @apply mx-auto;
    @apply flex;
    @apply flex-col;
    gap: 2.5rem; /* 40px */
    @screen xl {
      @apply flex-row;
    }
  }
  &__form-container {
    @apply w-full;
    @apply mx-auto;
    @apply shrink-0;
    margin-bottom: 5rem; /* 80px */
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    & > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
    @screen md {
      margin-bottom: 0;
      max-width: 768px;
    }
  }
  &__form-heading {
    color: var(--blue-2);
    font-size: 3rem; /* 48px */
    line-height: 1;
    @apply text-center;
    @screen xl {
      @apply text-left;
      font-size: 3.75rem; /* 60px */
      line-height: 1;
    }
  }
  &__contact-form {
    & > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    }
  }
  &__form-fields-row {
    @apply flex;
    @apply flex-col;
    @screen md {
      @apply flex-row;
    }
    column-gap: 2.5rem; /* 40px */
  }
  &__form-fields-col {
    @apply w-full;
    & > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
  }
  &__form-submit-wrapper {
    @apply flex;
    @apply justify-center;
  }
  // Info Styles
  &__info-container {
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    @apply flex;
    @apply flex-col;
    & > :not([hidden]) ~ :not([hidden]) {
      --tw-space-y-reverse: 0;
      margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
    }
    @screen xl {
      @apply justify-start;
    }
  }
  &__info-block {
    @apply w-full;
    @apply text-center;
    @screen xl {
      @apply text-left;
    }
  }
  &__info-title {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    color: var(--blue-2);
    margin-bottom: 1.5rem; /* 24px */
    @screen xl {
      font-size: 3rem; /* 48px */
      line-height: 1;
    }
  }
  &__info-links {
    @apply flex;
    @apply flex-col;
    gap: 1.25rem; /* 20px */
    @apply items-center;
    @screen xl {
      @apply items-start;
    }
  }
  &__info-link {
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    &:hover {
      color: var(--blue-10);
    }
  }
  &__social-links {
    @apply flex;
    gap: 1.5rem; /* 24px */
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    @apply justify-center;
    @screen xl {
      @apply justify-start;
    }
    a {
      &:hover {
        color: var(--blue-10);
      }
    }
  }
  &__info-address {
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    margin-bottom: 1.5rem; /* 24px */
    max-width: 640px;
    @apply mx-auto;
    @screen xl {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
