@use '/styles/mixin/animation.module.scss' as *;

.d-container {
  @apply flex;
  @apply flex-col;
  @apply justify-start;
  @apply items-center;
  border-radius: 1rem; /* 16px */
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 2rem; /* 32px */
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    .d-container__separator {
      width: 4rem; /* 64px */
    }
  }
  // Color styles
  &--bg-blue {
    @apply bg-[var(--blue-2)];
    .d-container__separator {
      @apply border-[var(--blue-11)];
    }
  }
  &--bg-orange {
    @apply bg-[var(--orange-2)];
    .d-container__separator {
      @apply border-[var(--orange-11)];
    }
  }
  &--bg-plum {
    @apply bg-[var(--plum-2)];
    .d-container__separator {
      @apply border-[var(--plum-11)];
    }
  }
  // Variant styles
  &--vertical {
    @apply max-w-[300px];
  }
  &--horizontal {
    max-width: 1024px;
    gap: 2rem; /* 32px */
    &:hover {
      .d-container__image {
        @include vertical-move();
      }
      .d-container__separator {
        width: 6rem; /* 96px */
      }
    }
    @screen md {
      @apply flex-row;
      padding: 3rem; /* 48px */
    }
    .d-container__image-col {
      @apply w-full;
      @apply h-auto;
      @screen md {
        margin-top: 2.5rem; /* 40px */
        margin-bottom: 2.5rem; /* 40px */
      }
    }
    .d-container__image-wrapper {
      @apply w-full;
      @apply h-auto;
      @apply mx-auto;
    }
    .d-container__content-wrapper {
      @apply w-full;
    }
    .d-container__name {
      @screen md {
        @apply text-start;
        font-size: 1.875rem; /* 30px */
        line-height: 2.25rem; /* 36px */
      }
    }
    .d-container__separator {
      @screen md {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
    .d-container__description {
      @screen md {
        @apply text-start;
      }
    }
  }
  // Layout styles
  &--layout-reverse {
    @screen md {
      @apply flex-row-reverse;
    }
  }
  &__image-wrapper {
    width: 6rem; /* 96px */
    height: 6rem; /* 96px */
    margin-bottom: 1rem; /* 16px */
  }
  &__image {
    @apply w-full;
    @apply h-auto;
  }
  &__name {
    @apply text-center;
    margin-bottom: 1rem; /* 16px */
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
  }
  &__separator {
    width: 2.5rem; /* 40px */
    @apply border;
    @apply border-2;
    @apply mx-auto;
    margin-bottom: 1rem; /* 16px */
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__description {
    @apply text-center;
  }
}
