@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  @apply bg-[var(--blue-11)];
  &__container {
    @include d-container;
    @apply mx-auto;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    @apply flex;
    @apply flex-col;
    gap: 1.5rem; /* 24px */
    @apply text-center;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    @screen lg {
      gap: 2rem; /* 32px */
    }
  }
  &__title {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    @screen md {
      font-size: 3rem; /* 48px */
      line-height: 1;
    }
    @screen lg {
      font-size: 3.75rem; /* 60px */
      line-height: 1;
    }
  }
  &__sub-title {
    max-width: 48rem; /* 768px */
    @apply mx-auto;
  }
  &__cta {
    padding-top: 0.75rem; /* 12px */
    padding-bottom: 0.75rem; /* 12px */
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    @apply uppercase;
    @apply bg-[var(--gray-12)];
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    @apply rounded-full;
    &:hover {
      scale: 1.05;
      transition: all ease;
    }
  }
}
