@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  &__container {
    @apply flex;
    @apply flex-col;
    gap: 1rem; /* 16px */
    @include d-container;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    margin-top: 4rem; /* 64px */
    @apply text-center;
  }
  &__title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    @screen md {
      font-size: 2.25rem; /* 36px */
      line-height: 2.5rem; /* 40px */
    }
    @screen xl {
      font-size: 3rem; /* 48px */
      line-height: 1;
    }
  }
  &__hr {
    width: 4rem; /* 64px */
    @apply mx-auto;
    @apply border-b-2;
    @apply border-[var(--blue-10)];
  }
  &__sub-title {
    @apply text-[var(--gray-12)];
  }
  &__description {
    max-width: 48rem; /* 768px */
    @apply mx-auto;
  }
}
