@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  @include d-container;
  &__mission-vision-wrapper {
    @apply flex;
    @apply flex-col;
    @screen lg {
      @apply flex-row;
    }
  }
  // MISSION
  &__mission-container {
    @apply relative;
    @apply bg-[var(--gray-4)];
    @apply w-full;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    padding-top: 3.5rem; /* 56px */
    padding-bottom: 3.5rem; /* 56px */
    @screen md {
      padding: 3.5rem; /* 56px */
    }
  }
  &__mission-badge {
    @apply absolute;
    left: 1.5rem; /* 24px */
    @apply -mt-[calc(3.5rem+16px)];
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    @apply bg-[var(--blue-11)];
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    font-weight: 700;
  }
  &__mission-title {
    margin-bottom: 1.5rem; /* 24px */
    @apply text-[var(--blue-11)];
    font-size: 3rem; /* 48px */
    line-height: 1;
    @screen md {
      margin-bottom: 2rem; /* 32px */
    }
  }
  // VISION
  &__vision-container {
    @apply relative;
    @apply bg-[var(--gray-7)];
    @apply w-full;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    padding-top: 3.5rem; /* 56px */
    padding-bottom: 3.5rem; /* 56px */
    @screen md {
      padding: 3.5rem; /* 56px */
    }
  }
  &__vision-badge {
    @apply absolute;
    left: 1.5rem; /* 24px */
    @apply -mt-[calc(3.5rem+16px)];
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    font-weight: 700;
  }
  &__vision-title {
    margin-bottom: 1.5rem; /* 24px */
    font-size: 3rem; /* 48px */
    line-height: 1;
    @screen md {
      margin-bottom: 2rem; /* 32px */
    }
  }
  // VALUES
  &__values-container {
    @apply relative;
    @apply bg-[var(--gray-12)];
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    padding-top: 3.5rem; /* 56px */
    padding-bottom: 3.5rem; /* 56px */
    @screen md {
      padding: 3.5rem; /* 56px */
    }
  }
  &__values-badge {
    @apply absolute;
    left: 1.5rem; /* 24px */
    @apply -mt-[calc(3.5rem+16px)];
    padding-top: 0.25rem; /* 4px */
    padding-bottom: 0.25rem; /* 4px */
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    @apply text-[var(--blue-11)];
    font-weight: 700;
  }
  &__values-title {
    margin-bottom: 1.5rem; /* 24px */
    font-size: 3rem; /* 48px */
    line-height: 1;
    @screen md {
      margin-bottom: 2rem; /* 32px */
    }
  }
}
