.d-section {
  &__picture,
  &__video-wrapper {
    @apply relative;
    &:before {
      content: '';
      @apply absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
  }
}
