@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  background-image: url('/bg-gradient-1.jpg');
  background-image: image-set(url('/bg-gradient-1.avif') type('image/avif'), url('/bg-gradient-1.jpg') type('image/jpeg'));
  &__container {
    @include d-container;
    @apply flex;
    @apply flex-col;
    margin-bottom: 2rem; /* 32px */
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
    @apply min-h-[70svh];
    @screen lg {
      @apply flex-row;
      @apply items-center;
    }
  }
  &__image-col {
    @apply w-full;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
  &__image-wrapper {
    @apply w-full;
    @apply max-w-[565px];
  }
  &__content-col {
    @apply w-full;
    padding-top: 1.5rem; /* 24px */
    padding-bottom: 1.5rem; /* 24px */
  }
  &__title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    @apply text-[var(--blue-12)];
    @apply text-center;
    @apply mx-auto;
    @screen md {
      font-size: 3rem; /* 48px */
      line-height: 1;
    }
  }
  &__text-content {
    @apply max-w-[565px];
    @apply text-center;
    @apply mx-auto;
  }
  &__cta-wrapper {
    @apply flex;
    @apply justify-center;
  }
  // Services
  &__services-container {
    @include d-container;
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem; /* 24px */
  }
  &__services-title {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    @apply text-center;
    @apply text-[var(--blue-12)];
    @screen md {
      font-size: 2.25rem; /* 36px */
      line-height: 2.5rem; /* 40px */
    }
  }
  &__services {
    @apply flex;
    @apply flex-wrap;
    column-gap: 1.5rem; /* 24px */
    row-gap: 2.5rem; /* 40px */
    @apply justify-center;
  }
  &__service {
    flex: 1 1 100%;
    @apply box-border;
  }
}
