.d-container {
  margin-top: -0.25rem; /* 4px */
  &__inline-wrapper {
    background-color: var(--blue-11);
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    @apply inline-block;
    @apply text-nowrap;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  }
  &__heading {
    @apply uppercase;
    line-height: 1.25;
    letter-spacing: -0.05em;
    font-weight: 700;
    @apply inline-block;
  }
}
